body {
    margin: 0;
    font-family: MiSans, sans-serif;
    background: linear-gradient(180deg, #00b1ff40, #ffffff) no-repeat;
    --border-color: #6d6d6d61;
}

a {
    color: unset;
    text-decoration: none;
    transition: all 0.5s;
    filter: opacity(0.9);
}

a:hover {
    color: #ff386e;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #0000001a;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #00000080;
}

::selection {
    background: #000;
    color: #fff
}

.divider {
    border-bottom: 1px solid var(--border-color);
}

.bg {
    background: linear-gradient(45deg, #ffffff99, #ffffffcc), url("https://api.imlazy.ink/img") no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -3;
    top: 0;
}

.h-screen {
    height: 100svh;
}

/* Index box */

.main-box {
    background-color: #ffffff66;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 100px #b0b0b0;
    /* margin: 25% auto 25% auto; */
    width: 60%;
}

.box-left {
    border-right: 1px solid;
    border-color: var(--border-color);
    text-align: center;
    padding: 25px 10% 10%
}

.box-left img {
    border-radius: 50%;
    width: 100%;
    box-shadow: 0 0 10px #aaa;
    cursor: wait;
    transition-delay: 0.2s;
    transition-duration: 1s;
}

.box-left img:hover {
    transform: rotate(360deg);
}

.box-left h1 {
    font-weight: 400;
}

.box-right {
    overflow: hidden;
}

#blogの {
    width: 74%;
    max-height: 80%;
    overflow-y: auto;
    position: fixed;
    margin: 2% 0 0 -1.5%;
}

#blogs {
    display: inline-grid;
    width: 100%;
    max-height: 40svh;
    overflow-y: auto;
}

.box-content {
    margin: 2.4% 0;
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: var(--border-color);
    width: 100%;
}

.box-content p {
    padding: 0;
    margin: 10px;
}

.box-content b {
    font-weight: 600;
}

.box-item {
    padding: 3px 8px;
    border: 1px solid;
    margin: 10px 0 0 10px;
    display: inline-block;
    transition: all 0.4s;
    border-color: rgb(37 37 37 / 55%)
}

.box-item:hover {
    padding: 3px 15px;
    box-shadow: 0 0 10px #afafaf;
}

/* Nav */
.nav-bar {
    margin: 0;
    padding-left: 0;
    max-width: 100%;
    display: flex;
}

.nav-item {
    list-style-type: none;
    width: 100%;
    padding: 1% 4% 1% 4%;
    display: inline-grid;
    text-align: center;
}

.nav-active {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    font-weight: 500;
    border-color: var(--border-color);
}

/* Phone */
@media (max-width: 768px) {
    .bg {
        background: linear-gradient(45deg, #ffffff99, #ffffffcc), url("https://api.imlazy.ink/img-phone") no-repeat;
        background-size: cover;
    }

    .box-left {
        border: 0;
        padding: 10%
    }

    .box-left img {
        width: 30svw;
        min-width: 150px;
    }

    .box-content {
        border-top: 0;
        border-left: 0;
        margin: 0;
        width: 88%;
    }

    .nav-bar {
        margin: 0;
    }

    .nav-item {
        border-bottom: 1px solid;
    }

    .nav-active {
        border-bottom: 0;
        border-top: 1px solid;
    }

    .box-item a {
        display: block;
    }

    #blogの {
        width: 100%;
        text-align: center;
        position: unset;
    }

    #blogの .box-item {
        margin: 10px;
    }
}

/* Dark Mode*/
@media (prefers-color-scheme: dark) {
    body {
        color: #dadada
    }

    ::-webkit-scrollbar-track {
        background-color: #ffffff1a;
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px #ffffff80;
    }

    ::selection {
        background: #fff;
        color: #000
    }

    .bg {
        background: linear-gradient(45deg, #00000099, #000000cc), url("https://api.imlazy.ink/img") no-repeat;
        background-size: cover;
    }

    .main-box {
        background-color: #00000066;
        box-shadow: 0 0 20px #00000054;
    }

    .box-item {
        border-color: rgb(198 198 198 / 55%);
    }

    @media (max-width: 768px) {
        .bg {
            background: linear-gradient(45deg, #00000099, #000000cc), url("https://api.imlazy.ink/img-phone") no-repeat;
            background-size: cover;
        }

        .main-box {
            background-color: unset;
            box-shadow: unset;
            backdrop-filter: none;
        }

    }
}


.slide-x-enter-active,
.slide-x-leave-active {
    transition: all 0.25s ease-out;
}

.slide-x-enter-from {
    opacity: 0;
    transform: translateX(30px);
}

.slide-x-leave-to {
    opacity: 0;
    transform: translateX(-30px);
}